<div class="navbar">
    <div class="nav-left">
        <a href="/home" class="logo" id="WritelyLogo">Writely</a>
        <a href="/home" class="nav-link" id="Home">Home</a>
        <a href="/myposts" class="nav-link" id="My Posts">Posts</a>
    </div>
    <div class="nav-right">
        <a href="/profile" class="nav-link" id="Profile">Profile</a>
    </div>
</div>